* {
  font-family: "Source Sans Pro", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}

.search-players {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
}

.players-list {
  background-color: rgba(194, 213, 224, 0.75);
}

td,
th {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

input {
  background-color: rgba(235, 235, 235, 0.8);
  border: 0px;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
  height: 30px;
  outline: none;
  padding-left: 10px;
  width: 300px;
}

.btn {
  background-color: #4e5985;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #f9f9f9;
  font-size: 20px;
  height: 50px;
}

.label {
  color: #f9f9f9;
  padding-bottom: 20px;
}
